[submodule "packages/stoat.js"]
	path = packages/stoat.js
	url = https://github.com/stoatchat/javascript-client-sdk
[submodule "packages/client/assets"]
	path = packages/client/assets
	url = https://git.stoatinternal.com/brand/assets.git
	update = none
[submodule "packages/solid-livekit-components"]
	path = packages/solid-livekit-components
	url = https://github.com/revoltchat/solid-livekit-components
[submodule "packages/js-lingui-solid"]
	path = packages/js-lingui-solid
	url = https://github.com/revoltchat/js-lingui-solid
