name: Build documentation
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # To push a branch
      pages: write # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install mdbook v0.5.x
        run: |
          tag=$(curl -s 'https://api.github.com/repos/rust-lang/mdbook/releases' | jq -r '[.[] | select(.tag_name | startswith("v0.5."))][0].tag_name')
          url="https://github.com/rust-lang/mdbook/releases/download/${tag}/mdbook-${tag}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir mdbook
          curl -sSL $url | tar -xz --directory=./mdbook
          echo `pwd`/mdbook >> $GITHUB_PATH
      - name: Install latest mdbook-katex
        run: |
          tag=$(curl -s 'https://api.github.com/repos/lzanini/mdbook-katex/releases' | jq -r '[.[] | select(.tag_name | contains("-binaries"))][0].tag_name')
          tag_short=v${tag/-binaries/}
          url="https://github.com/lzanini/mdbook-katex/releases/download/${tag}/mdbook-katex-${tag_short}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir mdbook-katex
          curl -sSL $url | tar -xz --directory=./mdbook-katex
          echo `pwd`/mdbook-katex >> $GITHUB_PATH
      - name: Build Book
        run: |
          cd doc
          mdbook build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "doc/book"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
